.levo{
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(17, 1, 1);
    margin: 350px;
    text-decoration: none;
}
.desno{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(17, 1, 1);
    margin: 7px;
    text-decoration: none;
}
a:hover{
    color: #1279BE;
}

#pocetna{
    background-image: url("slike za html/pocetna/slika_pocetne.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 847px;
    margin-top: 20px;
}

#tekst{
    position: relative;
    top: 46%;
    left: 31%;
}

#cl{
    color: #1279BE;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    border-top: solid rgb(219, 217, 217) 1px;
    border-bottom: solid rgb(219, 217, 217) 1px;
    border-left: none;
    border-right: none;    
    padding: 80px;    
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slike{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.obican{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.basic{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    padding-bottom: 50px;
}

.basica{
    text-decoration: none;
    color: #1279BE;
}

a.basica:hover{
    color: black;
}

main{
    margin-bottom: 125px;
    border-bottom: solid rgb(219, 217, 217) 1px;
}

#beru{
    margin-bottom: 50px;    
}

#beru2{
    margin-bottom: 10px;
}

#spec{
    padding-bottom: 0px;
}

.kapt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #757575;
    text-align: center;
    margin-bottom: 60px; 
}

.carousel{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}










